@model IEnumerable<CaffeineBookatableProject.Models.contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


<h2>Contact List</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th>
            @Html.DisplayNameFor(model => model.messages)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.person_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.person_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.person_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.messages)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.person_id }, new { @class = "btn btn-primary" })
                <span class="btn-separator">|</span>
                @Html.ActionLink("Details", "Details", new { id = item.person_id }, new { @class = "btn btn-info" })
                <span class="btn-separator">|</span>
                @Html.ActionLink("Delete", "Delete", new { id = item.person_id }, new { @class = "btn btn-danger" })
             

            </td>
        </tr>
    }

</table>
