@model CaffeineBookatableProject.Models.ProductModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link href="~/fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <link href="~/fonts/fontawesome-webfont.eot" rel="stylesheet">
</head>
<body>
<!-- inner page section -->
<section class="inner_page_head">
    <div class="container_fuild">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <h3>Product Grid</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end inner page section -->
<!-- product section -->
<section class="product_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our <span>products</span>
            </h2>
        </div>

        <div class="container">
            @foreach(var c in Model.cat)
            {


         
            <a href="@Url.Action("Products", "Home", new {id=c.Cat_Id })" class="btn btn-outline-danger"> @c.Cat_Name</a>
            }
        </div>
        <div class="row">
            @foreach (var p in Model.pro)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a href="@Url.Action("AddtoWish", "Home", new { id = p.Prod_Id })" class="option2">
                                    Wishlist
                                </a>
                                <a href="" class="option1">
                                    @p.Prod_Name
                                </a>
                                <a href="@Url.Action("AddToCart", "Home", new { id = p.Prod_Id })" class="option2">
                                    Buy Now
                                </a>

                            </div>
                        </div>
                        <div class="img-box rounded" style="background-color:aliceblue">
                            <img class="rounded" src="@Url.Content(p.Prod_Pic)" height="200px;" width="180px; " />;
                        </div>
                        <div class="detail-box">
                            <p>
                                @p.Prod_Disc
                            </p>
                            <p style="color:forestgreen">
                                ₹@p.Sale_Price
                            </p>

                        </div>
                        
                    </div>
                </div>
            }


        </div>
        <div class="btn-box">
            <a href="">
                View All products
            </a>
        </div>
    </div>
</section>
<!-- end product section -->
</body>
</html>
