@model IEnumerable<CaffeineBookatableProject.Models.Admin>

@{
    ViewBag.Title = "Index";
    Layout=
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Admin_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Admin_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Admin_Id })
        </td>
    </tr>
}

</table>
