@model IEnumerable<CaffeineBookatableProject.Models.Branch>

@{
    ViewBag.Title = "Index";
}

<h2>Branch List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Branch Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.branch_name)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.branch_id }, new { @class = "btn btn-primary btn-sm", title = "Edit" })
                        <span class="btn-separator">|</span>
                        @Html.ActionLink("Details", "Details", new { id = item.branch_id }, new { @class = "btn btn-info btn-sm", title = "Details" })
                        <span class="btn-separator">|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.branch_id }, new { @class = "btn btn-danger btn-sm", title = "Delete" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


