@model IEnumerable<CaffeineBookatableProject.Models.Branch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.branch_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.branch_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.branch_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.branch_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.branch_id })
        </td>
    </tr>
}

</table>
