@model CaffeineBookatableProject.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>User Details</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        User Firstname
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.User_FirstName)
                    </dd>

                    <dt class="col-sm-3">
                       User Lastname
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.User_LastName)
                    </dd>

                    <dt class="col-sm-3">
                       User Email
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.User_Email)
                    </dd>

                    <dt class="col-sm-3">
                        User Password
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.User_Password)
                    </dd>

                    <dt class="col-sm-3">
                        Contact Number
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.User_Contact)
                    </dd>

                    <dt class="col-sm-3">
                        Address
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.User_Address)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Edit", "Edit", new { id = Model.User_Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</body>
</html>

