@model CaffeineBookatableProject.Controllers.PaymentController.OrderModel
@{
    ViewBag.Title = "PaymentPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<button id="rzp-button1" hidden>Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

    var options = {

        "key": "@Html.DisplayFor(model => model.razorpayKey)", // Enter the Key ID generated from the Dashboard
        "amount": "@Html.DisplayFor(model => model.amount)", // Amount is in currency subunits. Default currency is I. Hence, 10000 refire es
        "currency": "@Html.DisplayFor(model => model.currency)",
        "name": "@Html.DisplayFor(model => model.name)",
        "description": "@Html.DisplayFor(model => model.description)",
        "image": "https://example.com/your logo", // You can give your logo url "order_id": "EHtml.DisplayFor(model => model.orderId)",
        "order_id": "@Html.DisplayFor(model => model.orderId)",
        "handler": function (response) {

            // After payment successfully made response will come here

            // Set the data in hidden form

            document.getElementById('rzp_paymentid').value = response.razorpay_payment_id;

            document.getElementById('rzp_orderid').value = response.razorpay_order_id;

            // // Let's submit the form automatically

            document.getElementById('rzp-paymentresponse').click();
        },

        "prefill": {

            "name": "@Html.DisplayFor(model => model.name) ",
            "email": "@Html.DisplayFor(model => model.email)",
            "contact": "@Html.DisplayFor(model => model.contactNumber)"
        },
        "notes": {
            "address": "@Html.DisplayFor(model => model.address)"
        },
        "theme": {
            "color": "#F37254"
        }

    };
    var rzp1 = new Razorpay(options);
    window.onload = function () {
        document.getElementById('rzp-button1').click();
    };
    document.getElementById('rzp-button1').onclick = function (e) {
        rzp1.open();
        e.preventDefault();
    }
</script>
@using (Html.BeginForm("Complete", "Payment"))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("rzp_paymentid")
    @Html.Hidden("rzp_orderid")

    <button type="submit" id="rzp-paymentresponse" class="btn btn-primary" hidden>Submit</button>
}
