@model IEnumerable<CaffeineBookatableProject.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h4 class="text-center" style="font-family:'Times New Roman', Times, serif">Product List</h4>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Product Description</th>
                            <th>Purchase Price</th>
                            <th>Sale Price</th>
                            <th>Product Picture</th>
                            <th>Category</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Prod_Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Prod_Disc)</td>
                                <td>@Html.DisplayFor(modelItem => item.Purchase_Price)</td>
                                <td>@Html.DisplayFor(modelItem => item.Sale_Price)</td>
                                <td><img src="@Url.Content(item.Prod_Pic)" width="50px" /></td>
                                <td>@Html.DisplayFor(modelItem => item.Category.Cat_Name)</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Prod_Id }, new { @class = "btn btn-primary btn-sm" }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Prod_Id }, new { @class = "btn btn-info btn-sm" }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Prod_Id }, new { @class = "btn btn-danger btn-sm" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
