@model CaffeineBookatableProject.Models.Dinetable

@{
    Layout = " ~/Views/Shared/_AdminLayoutPage.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Dinetable</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        Person Name
                        
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Person_Name)
                    </dd>

                    <dt class="col-sm-3">
                        Person Number
                      
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Person_Number)
                    </dd>

                    <dt class="col-sm-3">
                        Date Date
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Dine_Date)
                    </dd>

                    <dt class="col-sm-3">
                        Date Time
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Dine_Time)
                    </dd>

                    <dt class="col-sm-3">
                        Outlet
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Outlet.outlet_name)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Dine_Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</body>
</html>
